
<div class="container">
  <h1>Questions#answer</h1>
  <div class="message">
    <p><%= @question %></p>
  </div>
  <br>
  <div class="message coach">
    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>

  <%= link_to "Ask again", ask_path %>
</div>
